// Colors
$cyan: #00dcec
$magenta: #ee00ee
$purple: #8237b6

// Report Holder Module
.report-holder
  position: relative
  line-height: 0
  cursor: zoom-in
  .report-img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto
    display: none
    &.active
      display: block

// Video Holder Module
.video-holder
  position: relative
  line-height: 0
  cursor: zoom-in
  .video-screenshot, video
    position: absolute
    width: 98%
    left: 1%
    bottom: 1%
  video
    opacity: 0
  .loaded
    video
      opacity: 1
    .video-screenshot
      display: none

.report-marker
  &.active
    background: #000

.ff01-module
  .report-marker
    &.active
      background: $cyan