@import compass

*
  box-sizing: border-box

html
  font-size: 23px

body
  font-family: "ff-chambers-sans-web", sans-serif
  font-weight: 400
  line-height: 1.5

.container
  max-width: 34rem
  &.wide
    max-width: 48rem

$cyan: #00dcec
$magenta: #ee00ee
$purple: #8237b6

.cyan
  color: $cyan
.magenta
  color: $magenta
.purple
  color: $purple

// Helper mix-ins
@mixin font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto

.chambers
  font-family: "ff-chambers-sans-web", sans-serif

h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: "ff-chambers-sans-web", sans-serif
  font-weight: 700
h1
  margin-bottom: 0.5rem
h3
  font-style: italic
h4
  font-style: italic

.mb05
  margin-bottom: 0.25rem

.grow
  flex-grow: 1

.justify-between
  justify-content: space-between

.stretch
  align-content: stretch

.col-20
  width: 20%

.bg-light-gray
  background: #efefef

.flex-cell
  width: 33.33%
  display: flex
  align-items: center
  padding: 0.6rem 1rem 0.9rem
  border-left: solid 0.1rem #efefef
  border-bottom: solid 0.1rem #efefef
  &:last-child
    border-right: solid 0.1rem #efefef

.header-row
  background: #efefef
  font-family: "ff-chambers-sans-web", sans-serif
  .flex-cell
    padding-bottom: 0.4rem
    justify-content: center

// Report Holder Module
.report-holder
  position: relative
  line-height: 0
  .report-img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: auto
    display: none
    &.active
      display: block

// Video Holder Module
.video-holder
  position: relative
  line-height: 0
  .video-screenshot, video
    position: absolute
    width: 98%
    left: 1%
    bottom: 1%
  video
    opacity: 0
  .loaded
    video
      opacity: 1
    .video-screenshot
      display: none

.btn-primary
  background: $cyan