@import compass

*
  box-sizing: border-box

html
  font-size: 22px

body
  font-family: "ff-chambers-sans-web", sans-serif
  font-weight: 400
  line-height: 1.5

.container
  max-width: 34rem
  &.wide
    max-width: 46rem
  &.overlay-container
    max-width: 48rem
  &.narrower
    max-width: 32rem

$cyan: #00dcec
$magenta: #ee00ee
$purple: #8237b6
$link-cyan: #00D4E3

.cyan
  color: $cyan
.magenta
  color: $magenta
.purple
  color: $purple

// Helper mix-ins
@mixin font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto

a
  color: $cyan
  text-decoration: none
  background-image: linear-gradient(#fff 0%, $cyan 100%)
  background-repeat: repeat-x
  background-size: 1px 0.1rem
  background-position: 0 0.98em
  padding-bottom: 0.1em
  margin-bottom: -0.1em
  &.no-underline
    background-image: none
  &:hover
    text-decoration: none

p
  a
    color: $link-cyan
    background-image: linear-gradient(#fff 0%, $link-cyan 100%)

h1, h2, h3, h4, h5, h6
  font-family: "ff-chambers-sans-web", sans-serif
  font-weight: 700
  text-align: center
h1
  // margin-bottom: 0.5rem
  // margin-top: 1rem
h3
  font-style: italic
h4
  font-style: italic
  text-align: left
h5
  font-style: italic
  text-align: left



.lh0
  line-height: 0

.caption
  font-size: 0.8rem
  line-height: 1.45
  font-style: italic
  margin-bottom: 0.5rem

.mb05
  margin-bottom: 0.25rem

.grow
  flex-grow: 1

.package-table
  // font-size: 0.9rem
  // line-height: 1.45
  border: solid 0.1rem #efefef
  // background: #fafafa
  ul
    margin-bottom: 0

.justify-between
  justify-content: space-between

.stretch
  align-content: stretch

.col-20
  width: 20%

.bg-light-gray
  background: #efefef
.bg-lighter-gray
  background: #fafafa


.border, .border-left, .border-top, .border-right, .border-bottom
  border-width: 0.1rem
  border-color: #efefef

.btn-primary
  background: $cyan

ul
  list-style: none
  padding-left: 0
  li
    padding-left: 1em
    background-image: url('/images/bullet.svg')
    background-size: 0.45em auto
    background-position: 0.05em 0.55em
    background-repeat: no-repeat

textarea
  padding: 0.5rem
  height: 2.25rem * 2

label
  // font-size: 0.8rem
  font-style: italic

.purchase-form
  padding: 1.25rem

.field:invalid
  border-color: rgba(0,0,0,.125)

.field:invalid:focus
  box-shadow: none

.field:focus
  border-color: #000
  box-shadow: none

.navigation
  a
    font-weight: 700
    margin-right: 0.5rem
  &.right
    a:last-child
      margin-right: 0

.field
  background: #fafafa

.flex-table-column
  display: flex
  align-self: stretch
  flex-direction: column
  justify-content: space-between
  .grower
    flex-grow: 1

.package-table
  .flex-table-column
    border-bottom: solid 0.1rem #efefef
    cursor: default
    &:last-child
      border-bottom: none
    &.active
      background: #efefef
    .grower
      padding-bottom: 0.5rem

@media (min-width: 40em)
  .package-table
    .flex-table-column
      border-bottom: none
      border-right: solid 0.1rem #efefef
      &:last-child
        border-right: none

.block-center
  display: block
  text-align: center

.donot-show
  display: none

@media (min-width: 40em)
  .sm-left, .sm-right
    text-align: left
  .sm-left
    float: left
  .sm-right
    float: right
  .sm-show
    display: block

// #footer
//   padding: 1.5rem 1rem

$footer_height: 85px

#page-wrap
  min-height: 100vh
  margin-bottom: -$footer_height
  &:after
    content: ""
    display: block
    height: $footer_height
#footer
  height: $footer_height


.fake-link
  cursor: pointer
  text-decoration: underline
  color: $cyan

.right-nav
  a, .fake-link
    float: left
    margin-right: 0.5rem
    &.active
      text-decoration: none
      color: #000
      cursor: default
    &:last-child
      margin-right: 0

.x-box
  height: 1.2em
  width: 1.2em
  float: left
  margin-left: 0em
  position: relative
  cursor: pointer
  .close-line
    position: absolute
    left: 0
    top: 50%
    width: 100%
    height: 0.2rem
    background: #ddd
    -webkit-transform: rotate(-45deg)
    -webkit-transform-origin: center center
    &:last-child
      -webkit-transform: rotate(45deg)
  &:hover
    .close-line
      background: #000