html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  font-size: 18pt; }

body {
  line-height: 36pt;
  font-size: 27.69231pt; }

.uppercase {
  text-transform: uppercase; }

.container {
  max-width: 46rem;
  box-sizing: border-box; }

.tisa {
  font-family: "ff-tisa-web-pro", serif; }

.chambers {
  font-family: "ff-chambers-sans-web", sans-serif;
  font-size: 27.69231pt; }

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centerer-h {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

#shadow-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; }

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 100, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-radial-gradient(100% 100%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -moz-radial-gradient(100% 100%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-radial-gradient(100% 100%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  background-image: radial-gradient(100% 100%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  background-size: cover;
  pointer-events: none; }

.normal {
  font-style: normal; }

::selection {
  background: #9df0fb; }

.cyan {
  color: #00dcec; }

.magenta {
  color: #ee00ee; }

.purple {
  color: #8237b6; }

a {
  color: #00dcec; }

.bg-cyan {
  background: #00dcec; }

.mb05 {
  margin-bottom: 0.25rem; }

.mb25 {
  margin-bottom: 1rem; }

.f3 {
  font-size: 19.38462pt;
  line-height: 25.2pt; }

.lh0 {
  line-height: 0; }

.client {
  font-size: 16.61538pt;
  line-height: 21.6pt; }

.nav {
  font-size: 16.61538pt;
  line-height: 21.6pt;
  border-top: solid 0.15rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .nav a {
    display: inline-block;
    padding: 0.5rem 0.2rem 0;
    color: #00dcec;
    position: relative;
    color: rgba(0, 0, 0, 0.25);
    top: -0.18rem;
    border-top: solid 0.2rem transparent;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    .nav a:hover {
      text-decoration: none;
      background-image: none;
      color: #00dcec; }
    .nav a.active {
      color: black; }
  .nav .right a {
    color: #00dcec;
    background-image: linear-gradient(#00dcec 0%, #00dcec 100%);
    background-size: 0.1rem 0.1rem;
    background-repeat: repeat-x;
    text-decoration: none;
    padding-bottom: 0.2rem;
    padding-left: 0;
    padding-right: 0; }
    .nav .right a:hover {
      color: #00c9d8;
      background-image: linear-gradient(#00c9d8 0%, #00c9d8 100%); }

.learn-more {
  font-size: 18pt;
  line-height: 23.4pt;
  box-sizing: border-box; }
  .learn-more a {
    display: inline-block;
    color: #00dcec;
    position: relative;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    .learn-more a.scrolled {
      display: none; }
    .learn-more a:hover {
      text-decoration: none;
      background-image: none; }

.naver {
  font-size: 16.61538pt;
  line-height: 21.6pt; }

.footer {
  font-size: 16.61538pt;
  line-height: 21.6pt; }
  .footer a {
    display: inline-block;
    color: #00dcec;
    margin-left: 0.5rem; }

.checker {
  color: #888888;
  cursor: pointer; }
  .checker:hover {
    color: black; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.f1 {
  font-size: 55.38462pt;
  line-height: 72pt; }
  .f1.chambers {
    font-size: 55.38462pt; }

a {
  background-image: linear-gradient(#00dcec 0%, #00dcec 100%);
  background-size: 0.1rem 0.1rem;
  background-position: 0 1rem;
  background-repeat: repeat-x;
  text-decoration: none;
  padding-bottom: 0.2rem; }
  a.block {
    background-image: none; }
    a.block:hover {
      background-image: none; }
  a:hover {
    text-decoration: none;
    color: #00c9d8;
    background-image: linear-gradient(#00c9d8 0%, #00c9d8 100%); }

a.purple {
  background-image: linear-gradient(#8237b6 0%, #8237b6 100%); }
  a.purple:hover {
    color: #7732a6;
    background-image: linear-gradient(#7732a6 0%, #7732a6 100%); }

.tisa a {
  background-size: 0.1rem 0.15rem;
  background-position: 0 2.2rem; }

.logo {
  height: 110.76923pt; }

#graph-holder {
  font-size: 12.58741pt;
  line-height: 16.36364pt;
  font-family: "ff-chambers-sans-web";
  fill: #aaaaaa;
  cursor: default !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  #graph-holder .spacer {
    display: none; }
  #graph-holder .rect {
    stroke-width: 2;
    stroke: #dddddd;
    fill: #fafafa; }
  #graph-holder .link {
    stroke-width: 2;
    stroke: #dddddd; }
  #graph-holder .node {
    cursor: default; }
  #graph-holder .text {
    fill: #bbbbbb; }
  #graph-holder .nlg .rect {
    fill: #00dcec;
    stroke: #00dcec; }
  #graph-holder .nlg .text {
    fill: white; }
  #graph-holder .pmrs .rect {
    fill: #ee00ee;
    stroke: #ee00ee; }
  #graph-holder .pmrs .text {
    fill: white; }
  #graph-holder .dlia .rect {
    fill: #8237b6;
    stroke: #8237b6; }
  #graph-holder .dlia .text {
    fill: white; }

.report-holder {
  position: relative; }
  .report-holder img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7; }
    .report-holder img.spacer {
      position: relative;
      z-index: 7; }
    .report-holder img.active {
      z-index: 8; }

.video-holder {
  background: #efefef; }
  .video-holder img, .video-holder video {
    width: 98%;
    position: absolute;
    left: 1%;
    bottom: 1%;
    height: auto; }
    .video-holder img.spacer, .video-holder video.spacer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%; }
  .video-holder .dots {
    height: 5%;
    width: auto;
    margin-top: 1.2%;
    position: relative; }
    .video-holder .dots .dot {
      background: blue; }

.title {
  font-size: 41.53846pt;
  line-height: 54pt; }

img {
  width: 100%; }

.footlink i {
  margin-right: 0.15rem; }

.footlink {
  background-image: none; }
  .footlink span {
    background-image: linear-gradient(#00dcec 0%, #00dcec 100%);
    background-size: 0.1rem 0.1rem;
    background-position: 0 1rem;
    background-repeat: repeat-x;
    text-decoration: none;
    padding-bottom: 0.2rem; }
  .footlink:hover {
    background-image: none; }
    .footlink:hover span {
      background-image: linear-gradient(#00c9d8 0%, #00c9d8 100%); }

#first-nav {
  position: fixed; }

.sp {
  width: 32px;
  height: 32px;
  clear: both;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -16px;
  margin-left: -16px; }

/* Spinner Circle Rotation */
.sp-circle {
  border: 0.2rem #efefef solid;
  border-top: 0.2rem #00dcec solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear; }

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@keyframes spCircRot {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

.sp-circle {
  display: none; }

.loading .sp-circle {
  display: block; }

input, textarea {
  font-family: "ff-tisa-web-pro", serif;
  border: none;
  line-height: 36pt;
  outline: none !important;
  box-shadow: none;
  border: solid 2px #efefef !important;
  border-radius: 0 !important;
  width: 100%; }
  input:active, input:focus, textarea:active, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: black !important; }

textarea {
  padding-top: 0.5rem;
  line-height: 25.2pt; }

input[type="submit"] {
  background: #00dcec;
  color: white;
  font-family: "ff-chambers-sans-web";
  border-radius: 0.2rem !important;
  border: none !important;
  cursor: pointer; }
  input[type="submit"]:hover {
    background: #00c9d8; }
  input[type="submit"]:active, input[type="submit"]:focus {
    border: none !important; }
