* {
  box-sizing: border-box; }

html {
  font-size: 22px; }

body {
  font-family: "ff-chambers-sans-web", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.container {
  max-width: 34rem; }
  .container.kinda-wide {
    max-width: 48rem; }
  .container.wide {
    max-width: 58rem; }

.cyan {
  color: #00dcec; }

.magenta {
  color: #ee00ee; }

.purple {
  color: #8237b6; }

a {
  color: #00ccdb;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "ff-chambers-sans-web", sans-serif;
  font-weight: 700; }

h1 {
  margin-bottom: 0.5rem; }

h3 {
  font-style: italic; }

h4 {
  font-style: italic; }

.caption {
  font-size: 0.8rem;
  line-height: 1.45;
  font-style: italic;
  margin-bottom: 0.5rem; }

.mb05 {
  margin-bottom: 0.25rem; }

.grow {
  flex-grow: 1; }

.package-table {
  border: solid 0.1rem #efefef; }
  .package-table ul {
    margin-bottom: 0; }

.justify-between {
  justify-content: space-between; }

.stretch {
  align-content: stretch; }

.col-20 {
  width: 20%; }

.bg-light-gray {
  background: #efefef; }

.bg-lighter-gray {
  background: #fafafa; }

.flex-cell {
  width: 33.33%;
  display: flex;
  padding: 0.25rem 1rem 0.5rem 1rem; }
  .flex-cell:nth-child(3n + 2) {
    border-left: solid 0.1rem #efefef;
    border-right: solid 0.1rem #efefef;
    margin-left: -0.05rem;
    margin-right: -0.05rem;
    background: #efefef; }

.border, .border-left, .border-top, .border-right, .border-bottom {
  border-width: 0.1rem;
  border-color: #efefef; }

.header-row .flex-cell {
  padding-top: 0.75rem; }

.bottom-row .flex-cell {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem; }

.header-row .flex-cell {
  justify-content: center; }

.report-holder {
  position: relative;
  line-height: 0; }
  .report-holder .report-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: none; }
    .report-holder .report-img.active {
      display: block; }

.video-holder {
  position: relative;
  line-height: 0; }
  .video-holder .video-screenshot, .video-holder video {
    position: absolute;
    width: 98%;
    left: 1%;
    bottom: 1%; }
  .video-holder video {
    opacity: 0; }
  .video-holder .loaded video {
    opacity: 1; }
  .video-holder .loaded .video-screenshot {
    display: none; }

.btn-primary {
  background: #00dcec; }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    padding-left: 0.9em;
    background-image: url("/images/bullet.svg");
    background-size: 0.45em auto;
    background-position: 0.05em 0.55em;
    background-repeat: no-repeat; }

textarea {
  padding: 0.5rem;
  height: 4.5rem; }

label {
  font-style: italic; }

.purchase-form {
  padding: 1.25rem; }

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  float: left;
  margin-right: 0.5rem; }
.navigation.right a:last-child {
  margin-right: 0; }
