#graph-holder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "ff-chambers-sans-web", sans-serif;
  fill: #aaa;
  background: #fafafa;
  cursor: default !important;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  #graph-holder .spacer {
    display: none; }
  #graph-holder .rect {
    stroke-width: 2;
    stroke: #ddd;
    fill: #fafafa; }
  #graph-holder .link {
    stroke-width: 2;
    stroke: #ddd; }
  #graph-holder .node {
    cursor: default; }
  #graph-holder .text {
    fill: #bbb; }
  #graph-holder .nlg .rect {
    fill: url(#cyan);
    stroke-width: 0; }
  #graph-holder .nlg .text {
    fill: #fff;
    text-transform: capitalize; }
  #graph-holder .pmrs .rect {
    fill: url(#magenta);
    stroke-width: 0; }
  #graph-holder .pmrs .text {
    fill: #fff;
    text-transform: capitalize; }
  #graph-holder .dlia .rect {
    fill: url(#purple);
    stroke-width: 0; }
  #graph-holder .dlia .text {
    fill: #fff;
    text-transform: capitalize; }

body.bottom #shadow_holder {
  display: none; }
body.bottom #graph-holder {
  background: #fff; }
  body.bottom #graph-holder .rect {
    fill: #fff; }
  body.bottom #graph-holder .nlg .rect {
    fill: url(#cyan);
    stroke-width: 0; }
  body.bottom #graph-holder .nlg .text {
    fill: #fff;
    text-transform: capitalize; }
  body.bottom #graph-holder .pmrs .rect {
    fill: url(#magenta);
    stroke-width: 0; }
  body.bottom #graph-holder .pmrs .text {
    fill: #fff;
    text-transform: capitalize; }
  body.bottom #graph-holder .dlia .rect {
    fill: url(#purple);
    stroke-width: 0; }
  body.bottom #graph-holder .dlia .text {
    fill: #fff;
    text-transform: capitalize; }
